@using Tracker.Components
@using Tracker.Pages

@if(isVisible){
 <div>
    <div class="w-full h-[100vh] backdrop-blur backdrop-blur-sm absolute top-0">
        <div class="w-7/12 h-full mx-auto bg-white p-10">
            <div class="grid grid-flow-cols gap-5">
                <div class="flex justify-end">
                    <button @onclick="Hide" class="text-3xl">x</button>
                </div>

                <div class="grid">
                    <label class="text-slate-600 text-lg">Issue Type</label>
                    <select @bind="IssueType" name="type" class="p-2 rounded-lg outline outline-[2px] outline-gray-300 border-none focus:outline-none text-gray-400">
                        <option>Select an issue type</option>
                        <option>Story</option>
                        <option>Task</option>
                        <option>Bug</option>
                    </select>
                </div>

                <div class="grid">
                    <label class="text-slate-600 text-lg">Summary</label>
                    <input @bind="Summary" class="p-2 rounded-lg outline outline-[2px] outline-gray-300 border-none  focus:outline-blue-600" type="string" placeholder="e.g Create a new program"/>
                </div>

                <div class="grid">
                    <label class="text-slate-600 text-lg">Issue Description</label>
                    <textarea @bind="IssueDescription" class="p-2 h-[10rem] rounded-lg outline outline-[2px] outline-gray-300 border-none  focus:outline-blue-600" type="string" placeholder="Write details here........"/>
                </div>

                <div class="flex gap-5">
                    <div class="grid w-full">
                    <label class="text-slate-600 text-lg">Issue State</label>
                    <select @bind="IssueState" name="type" class="px-1 py-2 rounded-lg outline outline-[2px] outline-gray-300 border-none focus:outline-none w-full text-gray-400">
                        <option>Select an issue state</option>
                        <option>New</option>
                        <option>Pending</option>
                        <option>Completed</option>
                    </select>
                </div>
                    <div class="grid w-full">
                        <label class="text-slate-600 text-lg">Due Date</label>
                        <input class="px-1 py-2 rounded-lg outline outline-[2px] outline-gray-300 border-none  focus:outline-none w-full text-gray-400" type="date" placeholder="e.g Create a new program"/>
                    </div>
                </div>

                <div class="flex justify-end mt-5">
                    <button @onclick="CreateNewIssue" class="bg-blue-700 py-2 px-3 rounded-lg text-lg text-white w-2/12">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>
}